.App {
  text-align: center;
}
.app-title {
  -webkit-text-emphasis: sesame;
  background-color: rgb(232, 205, 205);
  font-family: 'Fira Sans',
  sans-serif;
  font-size: 36px;
  font-weight: 400;
  color:rgb(45, 41, 41)
}
