.card {
  box-sizing: border-box;
  border: 2px solid rgb(67, 58, 58);
  border-radius: 5px;
  padding: 10px;
}

.card-title {
  -webkit-text-emphasis: sesame;
  font-size: 22px;
}

.card-description {
  font-size: 18px;
}